* {
  box-sizing: border-box;
}

/* https://coolors.co/080708-3772ff-8b4e9a-df2935-fdca40-e6e8e6 */
:root {
  --black: #080708;
  --crayola: #3772ff;
  --purpureus: #8b4e9a;
  --poppy: #df2935;
  --sunglow: #fdca40;
  --platnum: #e6e8e6;
}
body {
  background: var(--black);
  color: white;
}
.main {
  padding: 0;
}
.video-container {
  width: 100%;
  max-width: 751px;
  background: transparent;
}
.video-container video {
  width: 100%;
  aspect-ratio: 16/9;
}

.button {
  height: 42px;
  width: 137px;
  color: white;
  background: black;
  cursor: pointer;
  border: none;
}

.button.button-red {
  background: var(--poppy);
}
.button.button-blue {
  background: var(--crayola);
}
.button.button-yellow {
  background: var(--sunglow);
  font-weight: bold;
}
.upload-audio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-audio #audio {
  width: 60px;
}

.hide-input {
  position: absolute;
  text-indent: -9999px;
}

#select-model {
  background: var(--purpureus);
  color: white;
  font-weight: bold;
  height: 42px;
  width: 137px;
  text-align: center;
}

.audio-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-evenly;
  background: transparent;
  margin-bottom: 32px;
}

.details .details-title {
  font-size: 16px;
  font-weight: 700;
  font-family: "Hind", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 42px;
}

.details p#hidden-logs {
  font-size: 14px;

  border-radius: 2px;
  padding: 16px;

  font-family: "Courier New", monospace;
  font-size: 14px;
  line-height: 1.4;
  color: #ff0000; /* Red color for error messages */
  background-color: #f5f5f5; /* Light gray background */
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  white-space: pre-wrap; /* Preserve line breaks */
  word-wrap: break-word;
}

.download-area {
  width: 100%;
  display: flex;
  justify-content: center;
}

.download-area .invisible-link {
  display: flex;
  font-family: "Hind", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
}
.download-area .download-icon {
  padding: 0 16px;
}