* {
  box-sizing: border-box;
}

/* https://coolors.co/080708-3772ff-8b4e9a-df2935-fdca40-e6e8e6 */
:root {
  --black: #080708;
  --crayola: #3772ff;
  --purpureus: #8b4e9a;
  --poppy: #df2935;
  --sunglow: #fdca40;
  --platnum: #e6e8e6;
}
body {
  background: var(--black);
  color: white;
}
.main {
  padding: 0;
}
.video-container {
  width: 100%;
  max-width: 751px;
  background: transparent;
}
.video-container video {
  width: 100%;
  aspect-ratio: 16/9;
}

.button {
  height: 42px;
  width: 137px;
  color: white;
  background: black;
  cursor: pointer;
  border: none;
}

.button.button-red {
  background: var(--poppy);
}
.button.button-blue {
  background: var(--crayola);
}
.button.button-yellow {
  background: var(--sunglow);
  font-weight: bold;
}
.upload-audio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-input {
  display: none;
}

#select-model {
  background: var(--purpureus);
  color: white;
  font-weight: bold;
  height: 42px;
  width: 137px;
  text-align: center;
}

.convert-area {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px;
  background: transparent;
}

.audio-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px;
  gap: 12px;
  background: transparent;
}
.audio-form label {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.audio-form input::-webkit-file-upload-button,
.audio-form button {
  cursor: pointer;
}
.audio-form input::-webkit-file-upload-button {
  padding: 5px 10px;
}

.invisible-link {
  display: none;
}
.input {
  padding: 20px 40px;
}

#copyBase64Button {
  cursor: copy;
}

#convertButton {
  padding: 10px 20px;
}

.button:disabled,
#copyBase64Button:disabled {
  background: gray;
  cursor: default;
}
.button-red {
  background: red;
}
.copybase64-area {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px 0;
}

.align-row-items {
  display: flex;
  gap: 12px;
}

.textarea {
  max-width: 500px;
  width: 100%;
  height: 250px;
  padding: 16px;
}
