body {
  font-family: BlinkMacSystemFont, -apple-system, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, helvetica, arial,
    sans-serif;
}
.audio-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px;
}

.audio-form input::-webkit-file-upload-button,
.audio-form button {
  cursor: pointer;
}
.audio-form input::-webkit-file-upload-button {
  padding: 5px 10px;
}
.audio-form button {
  padding: 5px 10px;
  border-radius: 2px;
}

.convert-area {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px;
}

#convertButton {
  padding: 10px 20px;
}
